<div class="card">
    <div class="card-body">
        <h4 class="card-title">
            Countries and Capital
        </h4>
        <table class = "table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>ID</th>
                    <th>Capital</th>
                    <th>Operation</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor = "let country of countries">
                    <td>{{country._id}}</td>
                    <td>{{country.name}}</td>
                    <td>{{country.capital}}</td>
                    <td><button class="btn btn-primary" (click)="doUpdate(country)">Edit</button></td>
                    <td><button class="btn btn-danger" (click)="doDelete(country)">Delete</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>